
<footer class="navbar-default">
 <div class="container">
   <div class=”row bottom-rule”>
    <div class="col-sm-4 footer-section">
    <strong>Connect with Best Stylists</strong>
    <p>Email promotions, news, and information</p>
    <form class="form-inline">
        <div class="form-group">
            <label 
                class="sr-only" 
                for="inputEmail"
            >Email</label>
            <input
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="address@example.com"
            >
         </div>
         <button type="submit" class="btn btn-default">Subscribe</button>
     </form>
 </div>

 <div class="col-sm-5 footer-section">
    <ul class="list-inline">
        <li class="text-uppercase">Customer Service:</li>
        <li><a href="#">Book an Appointment</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Our Guarantee</a></li>
        <li><a href="#">Changes & Cancellation</a></li>
        <li><a href="#">Style Guides</a></li>
        <li><a href="#">Customer Care</a></li>
    </ul>
    <ul class="list-inline">
        <li class="text-uppercase">Social Media &amp; Articles:</li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Pinterest</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
    </ul>
    <ul class="list-inline">
        <li class="text-uppercase">Events:</li>
        <li><a href="#">Stylists Meetup August 15</a></li>
        <li><a href="#">Stylists Training</a></li>
    </ul>
</div>

<div class="col-sm-3">
    <address>
        <strong>Creme Inc.</strong><br>
        1000 Some Fantastic Place<br>
        Moscow, Russia<br>
        (123) 456-7890<br>
        <a href="#">Contact Us</a>
    </address>
</div>
  </div>

  <div class="row bottom-rule">
    <div class="col-sm-12">
        <nav class="navbar navbar-default navbar-footer">
            <ul class="nav navbar-nav">
                <li><a href="#">Customer Care</a></li>
                <li><a href="#">Style Lookbook</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">About Creme</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </div>
</div><!-- end row -->

<div class="row leg-room">
    <div class="col-md-12 text-center">
        <h1 class="text-uppercase">Creme Inc.</h1>
        <p class="monospaced">
            &copy;2016 Creme Inc. 
            <span>All Rights Reserved</span></p>
    </div>
</div><!-- end row -->

 </div><!-- end container -->
</footer>